* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins",sans-serif;
}

header {
    top: 0;
    position: sticky;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,o.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: padding 0.3s ease;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#007bff;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
    font-weight: 650;
}

.nav-links a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    transition: border-bottom 1s ease;
    padding-bottom: 2px;
    
    
}