* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins",sans-serif;
}

header {
    top: 0;
    position: sticky;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,o.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: padding 0.3s ease;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:#007bff;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
    font-weight: 650;
}

.nav-links a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    transition: border-bottom 1s ease;
    padding-bottom: 2px;
    
    
}
/* Section One (Hero Section) */
.hero-section {
    background-image: url('./static/background-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh; /* full-screen feel but flexible */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}


.hero-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

/* Button styling */
.book-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.book-btn:hover {
    background-color: transparent;
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(255, 255,255,0.3);
    border: 1px solid #fff;
}

@media (max-width: 768px) {


    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
}
